# Azure Text Analytics
AZURE_TEXT_ANALYTICS_ENDPOINT=YOUR_AZURE_TEXT_ANALYTICS_ENDPOINT_HERE
AZURE_TEXT_ANALYTICS_API_KEY=YOUR_AZURE_TEXT_ANALYTICS_API_KEY_HERE

# ChatApp DB
CHAT_DB_CONNECTION_STRING=YOUR_CHAT_DB_CONNECTION_STRING_HERE
# ASP.NET Core

ASPNETCORE_ENVIRONMENT=Development

# Swagger
SWAGGER_ENABLED=true