<app-header></app-header>

<div class="max-w-2xl mx-auto mt-6 p-4 border-2 rounded-lg border-gray-200 rounded-lg shadow-xl h-[80vh] sm:h-[70vh] flex flex-col">
  
  <!-- Messages -->
  <div class="flex-1 overflow-y-auto mb-4 flex flex-col justify-end" #messagesContainer>
    <ng-container *ngIf="messages$ | async as messages; else loading">
      <div *ngFor="let msg of messages" class="mb-2 p-2 rounded-lg border-l-2"
          [ngClass]="{
            'border-blue-500 bg-blue-200': msg.userId === user?.id,
            'border-green-500 bg-green-200': msg.userId !== user?.id
          }">
        <div class="font-semibold text-m">{{ msg.username }}</div>
        <div class="text-gray-700 text-sm">
          {{ msg.text }} <span class="text-2xl">{{ getEmoji(msg.sentimentType) }}</span>
        </div>
        <div class="text-xs text-gray-500 mt-0.5">{{ msg.created }}</div>
      </div>
    </ng-container>

    <!-- Spinner -->
    <ng-template #loading>
      <div class="flex flex-col justify-center items-center h-full">
        
        <svg class="animate-spin h-6 w-6 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
        </svg>
        <span class="mt-2 text-gray-500">Loading messages...</span>
      </div>
    </ng-template>
  </div>

  <!-- Input field -->
  <div class="flex gap-2 mt-2">
      <input type="text"
        [(ngModel)]="newMessage"
        placeholder="Type a message..."
        (keyup.enter)="sendMessage()" 
        class="flex-1 border-2 p-2 rounded border-blue-200 focus:border-blue-500 focus:outline-none" />
      <button (click)="sendMessage()" class="bg-blue-500 text-white px-4 rounded hover:bg-blue-600 cursor-pointer">
        Send
      </button>
  </div>
</div>